body {
	font-size: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url("https://images.unsplash.com/photo-1552250575-e508473b090f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
	background-size: cover;
	box-sizing: border-box;
}

#title,
#description {
	text-align: center;
	color: #0a1d36;
	font-weight: bold;
}

form {
	max-width: 500px;
	min-width: 200px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 2em;
	border-radius: 10px;
	background-color: rgba(11, 121, 153, 0.9);
	color: #0a1d36;
	font-weight: 600;
}

.text-label {
	margin: 0.5em 0;
}

.inline {
	width: unset;
	margin: -0.3em 0.5em 0 0;
	vertical-align: middle;
}

.group-label {
	display: block;
	margin: 0.5em 0;
}

input,
select {
	width: 97%;
	padding: 0.5em;
	border-radius: 5px;
	border: none;
	font-size: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
	width: 100%;
}

input[type="checkbox"] {
	width: unset;
}

input[type="submit"] {
	width: 50%;
	margin: 2em auto 0 auto;
	display: block;
	border-radius: 10px;
	border: none;
	background-color: #d4eada;
	padding: 0.75em 0;
	transition: all 0.3s ease-in;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #eca46b;
}

textarea {
	width: 99%;
	border-radius: 5px;
	font-size: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serifd;
}
